* {
    box-sizing: border-box;
}
img {
    width:100%;
}
header {
  background: rgb(241, 233, 235);
  background-position: center;
  border-top: 2px solid red;
  position: fixed;
  width:100%;
  margin:0 auto;
}
header > div {
  display: inline-block;
  align-items: center;
  padding:10px;
}
header > #designco {
  margin-right: 25px;
  margin-left: 25px;
  width:100px;
  height:40px;
}
}
#home {
  color:red;
}
#search {
  float:right;
  margin-right: 50px;
  width:40px;
  height:15px;
}
.grid {
  margin: 0 auto;
  width: 96vw;
  display: flex;
}

.grid img {
  width: 100%;
}
.grid img:hover {
  opacity: 0.4;
}

.grid__column {
  display: flex;
  padding-right: 1.3vw;
  flex-wrap: wrap;
  align-content: flex-start;
}

.grid__column:last-child {
  padding: 0;
}

.grid__column--two-thirds {
  flex: 1.99;
}

.grid__column--one-third {
  flex: 1.01;
}

.grid__item {
  padding-bottom: 1vw;
}

.grid__item--full {
  min-width: 100%;
  flex: 3;
}

.grid__item--one-third {
  flex: 1.2;
  padding-right: 1vw;
}

.grid__item--two-thirds {
  flex: 1.8;
}
footer {
  column-count: 4;
  width:100%;
  height: 500px;
  overflow:inherit;
}
#leftsection {
  margin-bottom: 120px;
  float:left;
}
#rightsection {
  float:right;
}
#new {
  color:red;
  font-size: 20px;
}
#strong {
  font-size: 20px;
}
